.menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-container {
  padding: 80px;
}

.menu-title {
  text-align: center;
}

.menu-title div {
  display: inline-block;
  background-color: #1677ff;
  color: #fff;
  width: 350px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-button {
  height: 70px;
  width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .menu-title {
    font-size: 20px;
  }

  .menu-button {
    height: 60px;
  }
}

@media (max-width: 576px) {
  .menu-title {
    font-size: 18px;
  }

  .menu-button {
    height: 50px;
  }
}
