/* Teamsetting.module.css */

.teamsetting-main {
  margin-top: 35px;
}

.teamsetting-box {
  border: 1px solid #000;
  height: 400px;
  width: 250px;
  overflow-y: scroll;
}

.teamsetting-btn {
  background-color: #1677ff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  color: #fff;
  border: 2px solid black;
}

.teamsetting-btn:hover {
  background-color: #1677ffcd;
}

.teamsetting-box-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamsetting-btn-main {
  margin-left: 20px;
  margin-right: 20px;
}

.teamsetting-search {
  margin-left: 50px;
}

.teamsetting-user {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  user-select: none;
}

.teamsetting-user:hover {
  background-color: #eee;
}

.teamsetting-user div {
  margin-left: 10px;
}

.teamsetting-user.none {
  display: none;
}

.teamsetting-user.selected {
  background-color: #f5f5f5;
  font-weight: bold;
}

.usermanagement-form-item {
  display: flex;
  justify-content: center;
  margin-left: 360px;
}

.username-form-item {
  display: flex;
  justify-content: center;
  margin-left: -100px;
  font-weight: bold;
}

.teamsetting-label {
  margin-left: 313.5px; 
  font-weight: bold;
}

.div-color{
  background-color: #d4dce4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.teamsetting-btn-container{
  padding-left: 18px;
  padding-right: 18px;
}

/* Responsive styles */
@media (max-width: 767px) {
  .teamsetting-label {
    margin-left: 0;
  }

  .teamsetting-btn {
    background-color: #1677ff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    color: #fff;
    border: 2px solid black;
  }

  .teamsetting-box-main {
    flex-direction: column;
  }

  .teamsetting-btn-main {
    margin: 10px 0;
  }

  .teamsetting-search {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .teamsetting-label {
    margin-right: 0.5rem;
    font-weight: bold;
  }

  .teamsetting-user {
    margin: 0.5rem 0;
  }

  .usermanagement-form-item,
  .username-form-item {
    margin-left: 0;
    font-weight: bold;
  }

  .div-color{
    background-color: #d4dce4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}
